<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/20faa60c-bedd-446c-911b-30a51ebf37ad/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/NewKnowledgeAPI20250314114918</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <ApiResourceId>/subscriptions/20faa60c-bedd-446c-911b-30a51ebf37ad/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.ApiManagement/service/NewKnowledgeAPIapi/apis/NewKnowledgeAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newknowledgeapi20250314114918-b3gxatawf3hgdpfp.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>183045f8-90c9-416e-bc40-8014d22ed827</ProjectGuid>
    <MSDeployServiceURL>newknowledgeapi20250314114918-b3gxatawf3hgdpfp.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NewKnowledgeAPI20250314114918</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>